# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Local deployment files
deployments/local/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules

# Hardhat files
artifacts/
typechain-types/
cache_hardhat

# Keys
keys
